<div class="containerlogin">
  <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <h1  class=" row justify-content-center col1" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >About us</h1>
          <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-img-left d-none d-md-flex" style="background-image: url('assets/jop.jpg'); height: 600px; "></div>
            
              <div class="card-body" style="width: 60%;">

              
                <p>EGY Developers allows clients to hire and work with freelancers through the company's platform. 
                  The client posts a description of their job and a price range they are willing to pay for a freelancer to complete it. 
                  The client may invite specific freelancers to apply for their jobs,
                  or else post the job for any freelancer who is interested to apply.
                  The client then choose likely freelancers by reviewing their profiles,
                  or even reaching out via chat to ask questions. Once the client has chosen who they want to complete the job,
                  they hire that freelancer by sending a contract with set hours, pay rate,
                  and a deadline for the work to be completed.Clients must have a profile and be signed in the platform in order to see
                  all relevant freelancers. They can sort freelancers by ranking (how many good reviews they have), experience (the number of jobs
                  successfully completed), or keywords (what kinds of work the freelancer can do).
                 </p>
            <br>
               <p> Freelancers can also see the ratings and job descriptions of clients who want to hire them.
                The EGY Developers platform includes a searchable directory of freelancers, filters to help clients find relevant
                workers and freelancers to see relevant jobs.
               </p>


              </div>

          </div>
      </div>
  </div>
</div>



